.login {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgba(10, 9, 10, 0.64), 0 8px 16px rgba(3, 3, 3, 0.34);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    color: red;
}
.h1
{
    color: red;
}

.login > form input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #090a0a;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}
